@import './constants.scss';

#advantage
{
    background-color: $slgreen;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2
{
    font:  $font-bold;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 1.5em;
    color: $navy;
}

#advantage h3
{
    text-align: left;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    h2
    {
        position: relative;
        padding-top: 8rem;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    h2
    {
        position: relative;
        padding-top: 6rem;
        font-size: 2.8rem;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    h2
    {
        font-size: 2.5rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }