@import './constants.scss';


// <Button className='custom-button'><img src={this.state.img}></img> <p>I am an</p><p>{this.state.text}</p></Button>

.custom-button
{
    font: $font-book;
    text-align: left;
    background-color: $navy;
    color: $white;
    padding-top: 7px;
    padding-bottom: 7px;
    outline: none;
    border: none;
}
.custom-button a
{
    color: $white;
}

.custom-button a:hover
{
    text-decoration: none;
}

.custom-button:hover
{
    background-color: $darknavy;
}

.custom-button-inverse
{
    color: $navy;
    background-color: $white;
    outline: none;
    border: 1px solid $navy;
}

.custom-button-inverse a
{
    color: $navy;
}

.custom-button-inverse:hover
{
    background-color: rgb(247, 245, 245);
    color: $navy;
    outline: none;
    border: 1px solid $navy;
}

.custom-button .image-wrapper
{
    padding: 0px 10px 0px 15px;
}
.custom-button img
{
    height: 1.8rem;
    width: auto;
    padding: 0px;
}

.custom-button p:first-of-type
{
    font-size: 0.5rem;
    margin-bottom: 0rem;
}


.custom-button p:last-of-type
{
    font: $font-demibold;
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.customer-support-button
{
    background-color: $turquoise;
    border: none;
    outline: none;
    border-radius: 50px;
}

.custom-button .text-wrapper
{
    padding-left: 15px;
    padding-top: 5px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .custom-button img
    {
        height: 2.8rem;
    }

    .custom-button .image-wrapper
    {
        padding: 0.5rem;
        padding-left: 1rem;
    }
    .custom-button p:first-of-type
    {
        font-size: 0.65rem;
    }


    .custom-button p:last-of-type
    {
        font-size: 1.25rem;
    }

    .custom-button .text-wrapper
    {
        padding-left: 10px;
        padding-top: 0.8rem;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }