$font-xlight    :normal 100 1rem p22-underground, sans-serif;
$font-light     :normal 300 1rem p22-underground, sans-serif;
$font-book      :normal 400 1rem p22-underground, sans-serif;
$font-medium    :normal 500 1rem p22-underground, sans-serif;
$font-demibold  :normal 600 1rem p22-underground, sans-serif;
$font-bold      :normal 900 1rem p22-underground, sans-serif;

$navy: #1C4856;
$teal: #1E86A2;
$turquoise: #5Bc7C1;
$lgreen: #C9E5BE;
$earth: #ede3b6;
$white: #FFFFFF;
$slgreen: #ECF6E8;

body
{
    overflow-x: hidden;
}