@import './constants.scss';

#discover-app
{
    margin-top: 5rem;
}

#discover-app h1
{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 4rem;
}


#discover-app .wrapper
{
    background-color: #ECECEC;
    padding: 4rem;
}

#discover-app .opportunities-wrapper
{
    margin-top: 4rem;
}

#discover-app .custom-button
{
    text-align: center;
    min-height: 3rem;
    border: none;
    outline: none;
    margin-top: 1rem;
}

#discover-app input.form-control
{
    min-height: 3rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    border-radius: 0px;
    margin-top: 1rem;
}