@import './constants.scss';

#discover
{
    position: relative;
}


h3
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#discover .wrapper
{
    background-color: #EBEBEB;
    padding-top: 4rem;
    overflow-x: scroll;
}


#discover .next
{
    margin-bottom: 30px;
    background-color: $navy;
    color: $turquoise;
    font-weight: 900;
    border-radius: 50px;
    // float: right;
    top: 0rem;
    right: 0.7rem;
    font-size: 0.9rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 1000;
}

#discover .opportunities-wrapper
{
    height: max-content;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 30px;
    padding-right: 30px;
    width: max-content;
    display: flex;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 5rem;

}

#discover .see-all-link
{
    text-align: right;
    font: $font-medium;
    font-size: 0.85rem;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    position: absolute;
    right: 0.7rem;
    bottom: 1rem;
}

#discover .see-all-link a
{
    color: $turquoise; 
}

#discover .see-all-link i
{
    font-size: 0.8rem;
    padding-left: 0.5rem;
    // font-weight: 300;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    #discover h3
    {
        font-size: 2.8rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }


    #discover .next
    {
        top: 1rem;
        right: 3rem;
    }

    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    #discover .see-all-link
    {
        right: 0.7rem;
    }

    #discover .next
    {
        right: 0.7rem;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #discover h3
    {
        font-size: 2.5rem;
    }
    #discover .see-all-link
    {
        right: 3rem;
    }

    #discover .next
    {
        right: 3rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }