@import './constants.scss';

footer
{
    margin-top: 4rem;
    margin-bottom: 2rem;

}

footer ul
{
    text-align: left;
    font-size: 0.9rem;
    color: $teal;
    margin-top: 2rem;
}

footer ul a
{
    color: $teal;
}

footer ul>li:first-of-type
{
    font: $font-bold;
    font-size: 1rem;
    color: $navy;
}

footer ul>li
{
    margin-left: 1rem;
}

footer .sm-links
{
    padding: 0px;
}


footer .sm-links>ul
{
    padding: 0px;
}

footer .sm-links li
{
    padding: 0px;
    font: $font-medium;
}

footer .sm-links li:first-of-type
{
    padding: 0px;
    font: $font-medium;
    color: $teal;
}

footer .footer-logo
{
    max-width: 5rem;
    margin-top: 3rem;
}

footer i
{
    font-size: 1.5rem;
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .logo-img-wrapper
    {
        padding-top: 3rem;
    }

    footer ul
    {
        // text-align: left;
        font-size: 1.1rem;
        // color: $teal;
        // margin-top: 2rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }
