@import './constants.scss';

h1
{
    font: $font-demibold;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

ul
{
    font: $font-book;
    list-style: none;
    font-size: 1.1em;
    text-align: center;
}

ul li
{
    margin-bottom: 0.5rem;
}
#home
{
    height: 100vh;
    background-image: url('../images/bg_mobile.png');
    background-repeat: no-repeat;
    background-position-y: 65vh;
    background-position-x: -15vw;
}

#home .buttons
{
    margin-top: 60px;
}

.customer-support-button
{
    position: absolute;
    bottom: 40px;
    right: 20px;
    padding: 15px;
    width: 70px;
    height: 70px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    h1
    {
        font-size: 3.75rem;
        text-align: left;
    }

    ul
    {
        font-size: 1.6rem;
        text-align: left;
    }

    #home .custom-button
    {
        margin-top: 50px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }