@import './constants.scss';

.navbar-light .navbar-brand
{
    font: $font-bold;
    font-size: 1.25rem;
    color: $navy;
}

.navbar-light .navbar-brand img
{
    // height: 1.7rem;
    width: 1.4rem;
    margin-right: -0.2rem;
    margin-top: -0.15rem;
}

.navbar-light .navbar-toggler
{
    border: none;
}

.navbar-light .navbar-nav>.nav-link
    {
        color: $navy;
        font-weight: 500;
        padding: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

#navbar .custom-button  
{
    margin-top: 1rem;

    text-align: center;
}

.navbar-light .navbar-brand:hover
{
    color: rgb(21, 70, 85)
}

#navbar .user-section
{

}

#navbar .user-section p
{
    // margin-bottom: 0px;
    // font: $font-book;  
    // text-align: left;  
    // margin-left: 2rem;
    // margin-top: 2rem;    
    // margin-bottom: 1rem;

}

#navbar .user-section .custom-button
{
    // margin-left: 3rem;
    // margin-top: 0rem;

    // font: $font-book;    
    // margin-bottom: 0.5rem;
    // font-size: 0.85rem;
    // padding: 1rem;
    min-width: 8rem;
    clear: both;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
   
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .navbar-light .navbar-brand
    {
        font: $font-bold;
        font-size: 2.3rem;
        margin-top: 1rem;
    }
    
    .navbar-light .navbar-brand img
    {
        margin-right: -0.3rem;
        margin-top: -0.3rem;
        height: 3rem;
        width: auto;
    }

    #basic-navbar-nav
    {
        margin-top: 0.5rem;
        margin-left: 2rem;

    }

    .navbar-light .navbar-nav>.nav-link
    {
        padding-bottom: 0px;
    }

    #navbar .user-section .custom-button
    {
        margin-left: 1rem;
        margin-right: 0rem;

    }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }