@import './constants.scss';

.navbar-light .navbar-brand
{
    font: $font-bold;
    font-size: 1.25rem;
    color: $teal;
}

.navbar-light .navbar-brand img
{
    margin-right: 0.5rem;
    margin-top: -0.2rem;
}

.navbar-light .navbar-toggler
{
    border: none;
}

.navbar-light .navbar-nav>.nav-link
    {
        color: $navy;
        font-weight: 500;
        padding: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
   
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
   
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .navbar-light .navbar-brand
    {
        font: $font-bold;
        font-size: 2.3rem;
        color: $teal;
        margin-top: 1rem;
    }
    
    .navbar-light .navbar-brand img
    {
        margin-right: 0.5rem;
        margin-top: -0.2rem;
        height: 2.3rem;
        width: auto;
    }

    #basic-navbar-nav
    {
        margin-top: 0.5rem;
        margin-left: 2rem;

    }

    .navbar-light .navbar-nav>.nav-link
    {
        padding-bottom: 0px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }