@import './constants.scss';

#testimonials
{
    padding-top: 50px;
}

#testimonials h6.subtitle
{
    font: $font-demibold;
    font-size: 1.6rem;
    color: $navy;
    text-align: left;
    margin-left: 1rem;
}

#testimonials h1
{
    font: $font-bold;
    font-size: 2.5rem;
    color: $turquoise;
    text-align: left;
    margin-top: 0px;
    margin-left: 1rem;
    margin-bottom: 2.5rem;
}

#testimonials .img-wrapper
{
    height: 375px;
    overflow: hidden;
}

#testimonials img
{
    width: 100%;
    height: auto;
}


#testimonials .text
{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: $slgreen;
}

#testimonials .text h6
{
    font: $font-bold;
    font-size: 1.6rem;
    color: $navy;

    // margin-left: 0px;
}

#testimonials .text p
{
    font: $font-book;
    font-size: 0.85rem;
    // margin-left: 1rem;
    margin-top: 1rem;
}

#testimonials .text p span
{
    font: $font-bold;
    font-size: 0.85rem;
}

#testimonials .text a
{
    font: $font-medium;
    font-size: 0.85rem;
    // margin-left: 1rem;
    color: $turquoise;
}

#testimonials .text a i
{
    font-size: 0.75rem;
    margin-left: 0.5rem;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #testimonials .img-wrapper
    {
        height: 600px;
        overflow: hidden;
    }

    #testimonials .text h6
    {
        font: $font-bold;
        font-size: 2.2rem;
        // margin-left: 0px;
    }

    #testimonials .text p
    {
        font-size: 1.2rem;
    }

    #testimonials .text p span
    {
        font-size: 1.2rem;
    }


    #testimonials .text a
    {
        font-size: 1.2rem;
    }

    #testimonials .text a i
    {
        font-size: 1rem;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }